<form action="/" method="POST">
  <fieldset>
    <textarea name="payload"><%= @payload.to_json %></textarea>
  </fieldset>
  <fieldset class="buttons">
    <button>Trigger</button>
  </fieldset>
</form>